.heroIntro {
  margin-top: 50px;
  img {
    display: block;
    max-width: 100%;
  }
  .container {
    max-width: 1000px;
  }

  .heroIntroTextContent {
    margin-top: 30px;
    margin-inline: 10px;
    margin-bottom: 50px;
    h2 {
      font-size: 26px;
      letter-spacing: 0%;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #00a092;
    }
    p {
      font-size: 18px;
      letter-spacing: 0%;
      font-weight: 400;
      line-height: 148%;
      color: #000000;
    }
    span {
      display: none;
    }
  }
}
@media (min-width: 640px) {
  .heroIntro {
    margin-top: 100px;
    margin-bottom: 100px;
    .container {
      padding-inline: 20px;
      display: flex;
      flex-direction: column;
    }
    .introWelcome {
      max-width: 660px;
      margin-right: auto;
    }
    .introHow {
      max-width: 660px;
      margin-left: auto;
    }
    .heroIntroTextContent {
      margin-inline: 0;
      h2 {
        font-size: 54px;
        line-height: 65.5px;
      }
    }
    img {
      max-width: 660px;
      width: 100%;
      display: block;
      margin: auto;
    }
  }
}
