.container {
  width: 100%;
  margin: auto;
  transition: 0.4s ease-in-out;
  padding-inline: 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    padding-inline: 0;
    margin-inline: auto;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1400px;
    padding-inline: 0;
  }
}
