.hero {
  position: relative;
  padding-top: 20px;
  background-image: url(/images/panda.png);
  background-position: 50% 93%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 650px;
  h2 {
    max-width: 890px;
    color: #00a092;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 40px;
    line-height: 46.5px;
    letter-spacing: 1%;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 150%;
  }
  .heroImg {
    display: block;
    width: 100%;
    height: 291px;
    object-fit: cover;
    object-position: right center;
  }
}
.viewLive {
  background-color: #f58021;
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  line-height: 21.9px;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  margin-top: 30px;
  transition: 0.4s ease-in-out;
  text-decoration: none;
  &:hover {
    background-color: #d26004;
  }
}

.heroIntro {
  margin-top: 50px;
  img {
    display: block;
    max-width: 100%;
  }
  .container {
    max-width: 1000px;
  }

  .heroIntroTextContent {
    margin-top: 30px;
    margin-inline: 10px;
    margin-bottom: 50px;
    h2 {
      font-size: 26px;
      letter-spacing: 0%;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: #00a092;
    }
    p {
      font-size: 18px;
      letter-spacing: 0%;
      font-weight: 400;
      line-height: 148%;
      color: #000000;
    }
    span {
      display: none;
    }
  }
}
.pets {
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    max-width: 175px;
    width: 100%;
    margin-inline: auto;
    button {
      width: 60px;
      height: 60px;
      margin: 0;
      transition: 0.4s ease-in-out;
      outline: none;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #20113d;

      &:hover {
        background-color: #20113d;
      }
    }
  }
}
.petsInfo {
  text-align: center;
  margin-inline: 10px;
  h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0%;
    line-height: 31.7px;
    color: #00a092;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0%;
    line-height: 145%;
  }
}
.petsCardContainer {
  margin-top: 30px;
  padding-inline: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.chooseFav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  max-width: 345px;
  width: 100%;
  height: 74px;
  outline: none;
  border: 1px solid #20113d;
  border-radius: 5px;
  background-color: transparent;
  font-size: 18px;
  line-height: 21.9px;
  font-weight: 600;
  letter-spacing: 0%;
  gap: 10px;
  color: #20113d;
  margin-top: 50px;
  transition: 0.4s ease-in-out;
  &:hover {
    color: #ffffff;
    background-color: #20113d;
  }
  svg path {
    transition: 0.4s ease-in-out;
  }
}

@media (min-width: 640px) {
  .hero {
    height: unset;
    padding-top: 50px;
    background-position: right bottom;
    padding-bottom: 50px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.8) 35%,
        rgba(255, 255, 255, 0.4) 55%,
        rgba(255, 255, 255, 0) 75%
      );
    }
    h2 {
      font-size: 72px;
      letter-spacing: 1%;
      line-height: 83.5px;
    }
    p {
      max-width: 339px;
      line-height: 141%;
    }
    .heroImg {
      display: none;
    }
  }
  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .heroContainer {
    position: relative;
  }
  .viewLive {
    text-align: left;
    height: 74px;
    max-width: 285px;
  }
  .heroIntro {
    margin-top: 100px;
    margin-bottom: 100px;
    .container {
      padding-inline: 20px;
      display: flex;
      flex-direction: column;
    }
    .introWelcome {
      max-width: 660px;
      margin-right: auto;
    }
    .introHow {
      max-width: 660px;
      margin-left: auto;
    }
    .heroIntroTextContent {
      margin-inline: 0;
      h2 {
        font-size: 54px;
        line-height: 65.5px;
      }
    }
    img {
      max-width: 660px;
      width: 100%;
      display: block;
      margin: auto;
    }
  }
  .pets {
    margin-block: 100px;
    .container {
      max-width: 100%;
    }
  }
  .petsInfo {
    margin-inline: 20px;
    h2 {
      max-width: 480px;
      font-size: 54px;
      line-height: 65.8px;
      font-weight: 600;
      margin-inline: auto;
    }
    p {
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
    }
  }
  .petsCardContainer {
    margin-top: 50px;
    padding-inline: 20px;
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
      font-size: 82px;
      line-height: 93px;
    }
  }
  .heroContent {
    margin-inline: 0;
  }
  .heroContainer {
    max-width: 1200px;
  }
  .viewLive {
    max-width: 240px;
  }
  .pets {
    margin-bottom: 150px;
    .btnContainer {
      margin-top: 100px;
      display: flex;
      max-width: 175px;
      width: 100%;
      justify-content: space-between;
      justify-self: center;
      button {
        width: 60px;
        height: 60px;
        margin: 0;
        transition: 0.4s ease-in-out;
        outline: none;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #20113d;
        svg path {
          fill: #20113d;
        }
        &:hover {
          background-color: #20113d;
          svg path {
            fill: #ffffff;
          }
        }
      }
    }
  }
  .petsInfo {
    max-width: 830px;
    margin: auto;
    h2 {
      max-width: 100%;
    }
  }
  .petsCardContainer {
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(2, 716px);
    grid-auto-flow: column;
    grid-auto-columns: 445px;
    padding-inline: 40px;
    overflow-x: hidden;
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .hero {
    background-size: 80% 100%;
  }
  .heroContainer {
    padding-inline: 0px;
    max-width: 1400px;
  }
  .petsCardContainer {
    margin-top: 50px;
    padding-inline: 260px;
    grid-template-rows: repeat(2, 747px);
    grid-auto-columns: 440px;
    gap: 40px;
  }
}
