.visuallyHidden {
  display: none;
}
.header {
  height: 110px;
  display: flex;
  align-items: center;
  background-color: #f58021;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  width: 96px;
  height: 50px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  .user {
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
  }
}
.nav {
  .navList {
    opacity: 0;
    display: flex;
    position: fixed;
    max-width: 233px;
    width: 100%;
    top: 0;
    right: 0;
    background: #20113d;
    height: 0;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    transition: 0.4s ease-in-out;
    pointer-events: none;
    transform: translateY(-100%);
    &.navListActive {
      opacity: 1;
      pointer-events: all;
      height: 754px;
      transform: translateY(0%);
    }
    li a {
      color: #ffffff;
      line-height: 150%;
      font-weight: 600;
      text-decoration: none;
      font-size: 18px;
      transition: 0.3s ease-in-out;
      text-transform: uppercase;
      letter-spacing: 0px;
      &:hover {
        color: #00a092;
      }
    }
    .active a {
      color: #00a092;
    }
  }
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 11px;
  flex-shrink: 0;
  width: 22px;
  z-index: 2;
  cursor: pointer;
  span {
    width: 22px;
    height: 2px;
    background-color: #000000;
    transition: 0.4s ease-in-out;
  }
  &.burgerActive {
    right: 20px;
    span {
      background: #ffffff;
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(1) {
        transform: translateY(12.5px) rotate(45deg);
      }
      &:nth-of-type(3) {
        transform: translateY(-12.5px) rotate(-45deg);
      }
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authDialogContainer {
  background-color: #ffffff;
  color: #000000;
  height: 400px;
  border: none;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
  position: relative;
  &::backdrop {
    background-color: #000000;
    opacity: 0.7;
  }
  .loggedInUser {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

    h4 {
      text-align: center;
    }
    button {
      text-decoration: none;
      gap: 20px;
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      transition: 0.4s ease-in-out;
      max-width: 130px;
      width: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-color: #20113d;
      color: #ffffff;
      &:hover {
        scale: 0.95;
      }
    }
  }
  .loggedInUserActive {
    display: flex;
  }
  .loggedOutUser {
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 30px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #20113d;
      gap: 20px;
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      transition: 0.4s ease-in-out;
      max-width: 130px;
      width: 100%;
      justify-content: space-between;

      &:hover {
        background-color: #20113d;
        color: #ffffff;
      }
    }
  }
  .loggedOutUserActive {
    display: flex;
  }
  .authLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .closeModal {
    font-weight: 600;
    color: #00a092;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
}
@media (min-width: 640px) {
  .burger.burgerActive {
    right: 20px;
  }
  .nav .navList {
    max-width: 311px;
    gap: 50px;
    height: 754px;
  }
}

@media (min-width: 1200px) {
  .nav {
    display: flex;
    gap: 80px;
    align-items: center;
    .navList {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      height: 100%;
      opacity: 1;
      position: static;
      max-width: unset;
      background: transparent;
      pointer-events: all;
      transform: translateY(0%);
      &.navListActive {
        height: 100%;
        transform: none;
        position: static;
        opacity: 1;
      }
      li a {
        color: #000000;
        font-weight: 600;
        text-decoration: none;
        font-size: 18px;
        line-height: 150%;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .burger {
    display: none;
  }
}
@media (min-width: 1920px) {
  .header .container {
    max-width: 1400px;
    padding-inline: 0;
  }
  .nav {
    gap: 65px;
  }
  .nav .navList {
    gap: 50px;
  }
}
