.donatePopup {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 100%;
  border: none;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  max-height: 90vh;
  overflow-y: auto;

  &::backdrop {
    background-color: #000000;
    opacity: 0.6;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupHeader {
  background-color: #f58021;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #ffffff;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 31.7px;
    font-weight: 500;
    letter-spacing: 0%;
  }
}

.popupTitle {
  margin-block: 30px;

  hr {
    margin-top: 10px;
  }

  h3 {
    display: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;

    &.active {
      display: block;
    }
  }
}

.step {
  margin-inline: 10px;

  p {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    &::before {
      content: "* ";
      color: #00a092;
    }
  }

  .btnWrapper {
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    button {
      width: calc(50% - 10px);
      height: 50px;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #ffffff;
      font-weight: 600;
      font-size: 18px;
      line-height: 21.9px;
      transition: 0.4s ease-in-out;
      background-color: #00a092;
      opacity: 0.5;
      text-transform: uppercase;
      cursor: pointer;

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }

  .customInput {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    outline: none;
  }

  .petDropdown {
    position: relative;
    margin-top: 10px;
    width: 100%;
  }

  .special {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    background-color: #00a092;
    opacity: 0.5;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .dropDownList {
    max-height: 200px;
    background-color: #ffffff;
    top: 100%;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-top: 0;
    overflow-y: auto;
    scroll-behavior: smooth;

    li {
      padding: 10px;
      cursor: pointer;
      text-align: left;
      color: black;

      &:hover {
        background-color: #80cfc8;
      }
    }
  }

  .checkbox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 240px;
    margin-inline: auto;

    label {
      text-align: center;
      line-height: 130%;
    }

    input[type="checkbox"] {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .formGroup {
    margin-top: 30px;
    text-align: left;

    label {
      &::before {
        content: "* ";
        color: #00a092;
      }
    }

    input {
      background-color: transparent;
      color: #000000;
      display: block;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 1px solid black;
      padding: 10px;
      font-size: 18px;
      margin-top: 5px;
    }
  }

  .emailMessage {
    margin-top: 10px;
    opacity: 0.7;

    &::before {
      content: "" !important;
    }
  }

  .dateContainer {
    display: flex;
    gap: 20px;

    .formGroup {
      flex: 1;
    }
  }

  .dropDown {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    border: 1px solid black;
    font-size: 18px;
    margin-top: 5px;
  }

  .selectedContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.stepError {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.popupNavigationContainer {
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .stepperDots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .next {
    max-width: 213px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #00a092;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: #05786e;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .complete {
    max-width: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    gap: 10px;
    margin-inline: auto;
    outline: none;
    background-color: #f58021;
    color: #ffffff;
    border: none;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #d26004;
    }
  }

  .back {
    border: none;
    text-decoration: #00a092 underline;
    outline: none;
    background-color: transparent;
    color: #00a092;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #00a092;
  border-radius: 50%;
  transition: 0.4s ease-in-out;

  &.active {
    background-color: #00a092;
  }
}
