$white: #ffffff;
$transition-smooth: 0.4s ease-in-out;

.asideBox {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid $white;
  transition: $transition-smooth;
  flex-shrink: 0;
  img {
    width: 100%;
    display: block;
  }
  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .animal {
      max-width: 26px;
      height: 20px;
    }
    &Active {
      background-color: #ffffff;
      padding: 5px;
      border-radius: 50%;
      @media (min-width: 640px) {
        padding: 10px;
      }
    }
  }
  &Active {
    order: -1;
  }
  @media (min-width: 640px) {
    height: 100px;
    .imgWrapper {
      .animal {
        max-width: 40px;
        height: 30px;
      }
    }
  }

  @media (min-width: 1200px) {
    height: 172px;
    .imgWrapper {
      .animal {
        max-width: 53px;
        height: 40px;
      }
    }
  }
}

.expand {
  display: block;
}

.collapse {
  display: none;
}
