$accent-orange: #f58021;
$teal-primary: #00a092;
$transition-smooth: 0.4s ease-in-out;

.innerContainer {
  display: flex;
  flex-direction: column;
  @media (min-width: 640px) {
    padding-right: 20px;
  }
  @media (min-width: 1200px) {
    padding-right: 40px;
  }
  @media (min-width: 1920px) {
    max-width: 1400px;
    margin: auto;
    padding-inline: 0;
  }
}
.liveAnimal {
  max-width: calc(100% - 50px);
  margin-left: auto;
  @media (min-width: 640px) {
    max-width: calc(100% - 77px);
    width: 100%;
  }
  @media (min-width: 1200px) {
    max-width: calc(100% - 135px);
    width: 100%;
  }
  img {
    width: 100%;
    display: block;
  }
}
.liveAnimalHeader {
  .live {
    height: 200px;
    border-radius: 5px;
    @media (min-width: 640px) {
      width: 100%;
      height: 402px;
      padding-left: 0;
    }
    @media (min-width: 1200px) {
      height: 760px;
    }
  }
  h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 31.7px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: $teal-primary;
    text-align: right;
    margin-block: 20px;
    margin-right: 10px;
    @media (min-width: 640px) {
      font-size: 42px;
      text-align: center;
      margin-block: 26px;
    }
  }
  button {
    display: none;
  }
  .bottom {
    max-width: 212px;
    height: 48px;
    display: flex;
    justify-self: end;
    margin-block: 20px;
  }
}
